header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    nav-right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover{
    colo:#c78c19;
    text-decoration: underline;



body {


}

#banner{
    width:100%;
}

.principal{
    background: #cccccc
    padding: 30px;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {  
    color: #FF0000;
}
    te
}

p{
    text-align: center;
}

em strong {
    color: #FF0000;
}